@import '/plugins/nlp-visualization/resource/style.css';

@import '/plugins/nlp-visualization/resource/style.css';

.col-md-10 {
	border-style: hidden hidden hidden solid;
	border-width: 1px;
	border-color: #b3b3b3;

}

.subcharts {
	border-style: hidden hidden solid hidden;
	border-width: 1px;
	border-color: #b3b3b3;

}

.single-chart {
	
	text-align: center;
	
}
